---
import dayjs from "dayjs";
import "dayjs/locale/ru";

dayjs.locale("ru");

type Props = {
  value: string;
  format?: string;
};

const { value, format = "MMMM D, YYYY" } = Astro.props;

const display = dayjs(value).format(format);
---

<span class="capitalizet text-nowrap">{display}</span>
