---
interface Props {
  site: string;
  lang?: string;
}

const { site, lang } = Astro.props;
---

<replybox-init data-site={site} data-lang={lang}>
  <div id="replybox"></div>
</replybox-init>

<script>
  class ReplyBoxInit extends HTMLElement {
    constructor() {
      super();
      window.replybox = {
        site: this.dataset.site!,
        lang: this.dataset.lang,
      };
    }
  }

  customElements.define("replybox-init", ReplyBoxInit);
</script>

<script is:inline src="https://cdn.getreplybox.com/js/embed.js?lang=fr" defer
></script>
