---
interface Props {
  site: string;
  lang?: string;
}

const { site, lang } = Astro.props;
---

<replybox-init data-site={site} data-lang={lang}> </replybox-init>

<script>
  class ReplyBoxInit extends HTMLElement {
    constructor() {
      super();
      window.replybox = {
        site: this.dataset.site!,
        lang: this.dataset.lang,
      };

      const script = document.createElement("script");
      script.src = "https://cdn.getreplybox.com/js/embed.js";
      script.async = true;
      document.body.appendChild(script);
    }
  }

  customElements.define("replybox-init", ReplyBoxInit);
</script>

<div id="replybox"></div>
