---
import type { CollectionEntry } from "astro:content";

import {
  FeaturedWritingPreview,
  TextWritingPreview,
} from "src/components/astro";

interface Props {
  writings: CollectionEntry<"writings">[];
}

const { writings } = Astro.props;

const [latest, ...rest] = writings;
---

<div
  class="container relative z-40 mx-auto flex gap-10 px-6 py-20 transition-all duration-100 lg:gap-20"
>
  <div class="lg:max-w-[90ch]">
    <FeaturedWritingPreview writing={latest} />
  </div>
  <div class="flex flex-col gap-20 lg:pt-10">
    {rest.map((writing) => <TextWritingPreview writing={writing} />)}
  </div>
</div>
