---
import {
  FeaturedWritingPreview,
  TextWritingPreview,
} from "src/components/astro";

import type { Writing } from "src/content";

interface Props {
  writings: Writing[];
  displayAllLink?: boolean;
}

const { writings, displayAllLink = true } = Astro.props;

const [latest, ...rest] = writings;
---

<div class="relative z-40">
  <div
    class="container mx-auto mt-20 px-4 transition-all duration-100 xl:grid xl:grid-cols-8 xl:gap-20 xl:px-4"
  >
    <div class="mb-20 xl:col-span-5">
      <FeaturedWritingPreview writing={latest} />
    </div>
    <div class="col-span-3 mb-20 flex flex-col gap-20 xl:pt-10">
      {rest.map((writing) => <TextWritingPreview writing={writing} />)}

      {
        displayAllLink && (
          <div class="flex justify-center">
            <a href={`/writings/`} class="my-hero-button" data-astro-prefetch>
              Все статьи и публикации
            </a>
          </div>
        )
      }
    </div>
  </div>
</div>
