@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .__my-primary-button-base {
    @apply rounded-md border border-white/50 bg-indigo-600 text-white shadow-lg shadow-indigo-500/25 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  }

  .my-primary-button {
    @apply __my-primary-button-base px-4 py-2.5;
  }

  .my-primary-button-lg {
    @apply __my-primary-button-base px-6 py-3 text-xl;
  }

  .__my-hero-button-base {
    @apply rounded-full text-indigo-600 shadow-indigo-600 ring-2 ring-indigo-600/60 hover:bg-indigo-600/5 hover:ring-indigo-600;
  }

  .my-hero-button {
    @apply __my-hero-button-base px-4 py-2.5;
  }

  .my-hero-button-lg {
    @apply __my-hero-button-base px-6 py-3 text-xl;
  }

  .my-h1 {
    @apply mb-6 text-balance text-2xl font-extrabold leading-tight text-slate-900 md:text-3xl lg:text-4xl xl:text-5xl;
  }

  .my-h2 {
    @apply mb-4 text-balance text-xl font-extrabold leading-tight text-slate-900 md:text-2xl lg:text-3xl xl:text-4xl;
  }

  .my-prose {
    @apply prose
      prose-lg
      relative
      mx-auto
      flex
      text-pretty
      px-6
      tracking-tight

      prose-p:leading-7

      first:prose-p:text-xl
      first:prose-p:font-semibold
      first:prose-p:text-black

      prose-a:mx-0.5
      prose-a:text-indigo-600
      prose-a:no-underline
      hover:prose-a:text-indigo-500

      prose-blockquote:rounded-xl
      prose-blockquote:border-white/30
      prose-blockquote:bg-blob-3/40
      prose-blockquote:px-8
      prose-blockquote:py-3
      prose-blockquote:not-italic
      prose-blockquote:ring-2
      prose-blockquote:ring-blob-1
      prose-blockquote:drop-shadow-md
      lg:prose-blockquote:-mx-6

      xl:min-w-[80ch];
  }
}
