@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .__my-button-base {
    @apply rounded-md py-2.5 transition-all duration-150 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-80;
  }

  .my-button-text {
    @apply __my-button-base rounded-md px-4;
  }

  .my-button {
    @apply __my-button-base rounded-md px-4 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
  }

  .__my-primary-button-base {
    @apply __my-button-base border border-white/50 bg-indigo-600 px-6 text-white shadow-lg shadow-indigo-500/25 hover:bg-indigo-500 disabled:hover:bg-indigo-600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  }

  .my-primary-button {
    @apply __my-primary-button-base;
  }

  .my-primary-button-lg {
    @apply __my-primary-button-base rounded-md px-6 py-3 text-xl;
  }

  .my-hero-primary-button-lg {
    @apply __my-primary-button-base rounded-full px-6 py-3 text-xl;
  }

  .__my-hero-button-base {
    @apply rounded-full text-indigo-600 shadow-indigo-600 ring-2 ring-indigo-600/60 hover:bg-indigo-600/5 hover:ring-indigo-600;
  }

  .my-hero-button {
    @apply __my-hero-button-base px-6 py-2.5;
  }

  .my-hero-button-lg {
    @apply __my-hero-button-base px-6 py-3 text-xl;
  }

  .__my-hX-base {
    @apply text-balance leading-tight tracking-tight text-slate-800;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  .my-h1 {
    @apply __my-hX-base mb-8 text-4xl md:text-5xl;
  }

  .my-h2 {
    @apply __my-hX-base mb-6 text-3xl md:text-4xl;
  }

  .my-h3 {
    @apply __my-hX-base mb-4 text-2xl md:text-3xl;
  }

  .my-profile {
    @apply bg-[#eeeeee] bg-cover bg-center bg-no-repeat;
    background-image: url("/profile-bg.webp");
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.3);
  }

  .my-prose {
    @apply prose
      prose-lg
      relative
      mx-auto
      flex
      text-pretty
      px-4

      tracking-tight

      prose-p:leading-7
      first:prose-p:text-xl
      first:prose-p:font-semibold

      first:prose-p:text-black
      prose-a:mx-0.5
      prose-a:text-indigo-600
      prose-a:no-underline

      hover:prose-a:text-indigo-500
      prose-blockquote:rounded-xl
      prose-blockquote:border-white/30
      prose-blockquote:bg-blob-3/40
      prose-blockquote:px-8
      prose-blockquote:py-3
      prose-blockquote:not-italic
      prose-blockquote:ring-2
      prose-blockquote:ring-blob-1
      prose-blockquote:drop-shadow-md

      lg:prose-blockquote:-mx-6

      xl:min-w-[80ch];
  }

  .my-prose h1 strong,
  .my-prose h2 strong,
  .my-prose h3 strong,
  .my-prose h4 strong,
  .my-prose h5 strong {
    @apply text-balance;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  .my-prose ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .my-prose li {
    padding-left: 1em;
    text-indent: -0.7em;
  }

  .my-prose li::before {
    content: "• ";
    padding-right: 0.5em;
    @apply text-indigo-600;
  }

  .my-nav-active {
    @apply bg-white/90 shadow-sm backdrop-blur-sm;
  }
}
