---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";

import Layout from "src/layouts/SimpleWithNavigation.astro";
import { Paginator, TextWritingPreviewSD } from "src/components/astro";

import { reader } from "src/reader";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const writings = await getCollection("writings");
  writings.sort((a, b) =>
    b.data.date === a.data.date
      ? 0
      : (b.data.date || "") < (a.data.date || "")
        ? -1
        : 1,
  );

  return paginate(writings, { pageSize: 10 });
}

const { page } = Astro.props;

const site = await reader.singletons.site.read();
---

<Layout
  seo={{
    title: site?.writings.title,
    description: site?.writings.description,
    openGraph: site?.writings.image
      ? {
          basic: {
            type: "website",
            title: site.writings.title || "Публикации",
            image: site.writings.image,
          },
        }
      : undefined,
    twitter: site?.writings.image
      ? {
          card: "summary_large_image",
          title: site.writings.title || "Публикации",
          image: site?.writings.image,
          imageAlt: site.writings.title || "Публикации",
          description: site?.writings.description,
        }
      : undefined,
  }}
>
  <div class="container relative z-40 mx-auto pb-20 pt-20">
    <div class="mx-6 columns-1 gap-20 lg:columns-2">
      {
        page.data.map((writing, i) => (
          <TextWritingPreviewSD writing={writing} displayImage={i === 0} />
        ))
      }
    </div>
  </div>

  <div class="container relative z-40 mx-auto px-4">
    <Paginator
      currentPage={page.currentPage}
      pages={page.lastPage}
      getPageLink={(p) => `/writings/${p}/`}
    />
  </div>
</Layout>
