---
import { getCollection } from "astro:content";

import { sample } from "src/utils";
import { reader } from "src/reader";
import Layout from "src/layouts/Layout.astro";
import {
  Navbar,
  BackgroundBlobs,
  Hero,
  Features,
  Footer,
  FeaturedBookHero,
} from "src/components";
import type { FooterMenu } from "src/components/Footer";

const site = await reader.singletons.site.read();
const menus = await reader.singletons.menus.read();

console.log(JSON.stringify(await getCollection("books"), null, 2));

const featuredBook = sample(
  await getCollection("books", (entry) => entry.data.isFeatured),
);

console.log(JSON.stringify(featuredBook, null, 2));
---

<Layout>
  <div class="relative w-full">
    <Navbar />
    <main class="relative z-10 bg-gray-100 shadow-2xl shadow-slate-700/15">
      <BackgroundBlobs />
      <Hero
        data={{
          heroHeadline: "landingPage.heroHeadline",
          heroIntroText: "landingPage.heroIntroText",
        }}
      />
      <!-- <Features /> -->

      {featuredBook && <FeaturedBookHero book={featuredBook as any} />}
      <!--
      <Testimonials testimonials={testimonials} />
      <Pricing /> -->
    </main>
    <Footer menu={menus?.footer as FooterMenu} {...site} />
  </div>
</Layout>
