---
import { reader } from "src/reader";
import Layout from "src/layouts/Layout.astro";
import { Breadcrumbs } from "src/components/astro";
import { ProfilePanel } from "src/components/react";

import image from "public/profile-bg.webp";

const site = await reader.singletons.site.read();
---

<Layout
  seo={{
    title: "Мой профиль",
    description:
      "Прежде чем иметь возможность оставлять комментарии, пожалуйста, представтесь",
    openGraph: {
      basic: {
        type: "website",
        title: "Мой профиль",
        image: image.src,
      },
    },
    twitter: {
      card: "summary_large_image",
      title: "Мой профиль",
      image: image.src,
      imageAlt: "Мой профиль",
      description:
        "Прежде чем иметь возможность оставлять комментарии, пожалуйста, представтесь",
    },
  }}
>
  <div
    class="md:my-profile grid h-[100vh] w-full items-stretch bg-[#eeeeee] sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3"
  >
    <div class="hidden p-8 md:block xl:col-span-2">
      <div class="flex h-full flex-col justify-between gap-8">
        <div class="z-40">
          <Breadcrumbs items={[{ label: "Мой профиль", href: "/profile/" }]} />
        </div>

        <div class="z-40">
          <div class="flex gap-8">
            <div class="w-[36ch] space-y-8 pr-4 xl:pr-12">
              <a href="/" data-astro-prefetch>
                <img
                  class="h-16"
                  width={64}
                  height={64}
                  src="/logo.svg"
                  alt={site?.title}
                />
              </a>
            </div>
          </div>
          <div class="mt-8 text-sm">
            <div class="inline-block rounded-md bg-[#eeeeee]/5 px-2 py-1">
              {site?.copy}
              Фото
              <a
                href="https://unsplash.com/@joannakosinska?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                class="underline underline-offset-2 hover:text-slate-700"
              >
                Joanna Kosinska
              </a>
              на
              <a
                href="https://unsplash.com/photos/pink-covered-book-in-top-view-photography-I3adKpDNAjM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                class="underline underline-offset-2 hover:text-slate-700"
              >
                Unsplash
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-8">
      <ProfilePanel client:only />
    </div>
  </div>
</Layout>
