---
import { getCollection } from "astro:content";

import Layout from "src/layouts/SimpleWithNavigation.astro";

import { BookDetailsHead, Bookshelf } from "src/components";

export async function getStaticPaths() {
  const blogEntries = await getCollection("books");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// const featuredBook = sample(
//   await getCollection("books", (entry) => entry.data.isFeatured),
// );

const books = await getCollection("books", ({ id }) => id !== entry.id);
---

<Layout title={entry.data.title}>
  <BookDetailsHead book={entry} />
  <section class="relative z-10 overflow-hidden lg:bg-transparent">
    <div
      class="mx-auto max-w-4xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pb-24 lg:grid-cols-12 lg:gap-y-20 lg:px-3"
    >
      <div
        class="prose lg:prose-lg first:prose-p:text-xl first:prose-p:text-black prose-p:leading-7 prose-a:no-underline prose-a:text-indigo-600 hover:prose-a:text-indigo-500 prose-a:mx-0.5 relative mx-auto flex text-pretty tracking-tight"
      >
        <Content class="" />
      </div>
    </div>
  </section>
  <Bookshelf books={books} />
</Layout>
