---
import { getCollection } from "astro:content";

import Layout from "src/layouts/SimpleWithNavigation.astro";

import { BookDetailsHead } from "src/components";

export async function getStaticPaths() {
  const blogEntries = await getCollection("books");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

console.log(entry);

// const featuredBook = sample(
//   await getCollection("books", (entry) => entry.data.isFeatured),
// );

// const books = await getCollection(
//   "books",
//   (entry) => entry.id !== featuredBook?.id,
// );
---

<Layout title={entry.data.title}>
  <BookDetailsHead book={entry} />
  <!-- <BooksList books={books} /> -->
  <section class="relative z-10 overflow-hidden lg:bg-transparent">
    <div
      class="mx-auto max-w-4xl grid-cols-1 grid-rows-[auto_1fr] gap-y-16 pt-16 md:pt-20 lg:grid-cols-12 lg:gap-y-20 lg:px-3 lg:pb-16 lg:pt-20"
    >
      <div class="relative flex items-start lg:col-span-5 lg:row-span-2">
        <Content />
      </div>
    </div>
  </section>
</Layout>
