---
import Layout from "src/layouts/SimpleWithNavigation.astro";
import { BooksList, FeaturedBookHero } from "src/components/astro";
import { getCollection } from "src/content";

import { sample } from "src/utils";

const featuredBook = sample(
  (await getCollection("books")).filter(({ entry }) => entry.isFeatured),
);

const books = (await getCollection("books")).filter(({ slug }) => slug !== featuredBook?.slug);
---

<Layout
  seo={{
    title: "Библиотека",
    description:
      "Здесь вы найдете книги, рабочие тетради и другие материалы для самостоятельного изучения и практики",
    openGraph: {
      basic: {
        type: "website",
        title: "Библиотека",
        image: featuredBook?.entry.image!,
      },
    },
    twitter: {
      card: "summary_large_image",
      title: "Библиотека",
      image: featuredBook?.entry.image,
      imageAlt: "Библиотека",
      description:
        "Здесь вы найдете книги, рабочие тетради и другие материалы для самостоятельного изучения и практики",
    },
  }}
>
  <FeaturedBookHero book={featuredBook} />
  <h2 class="sr-only">Все книги</h2>
  <BooksList books={books} />
</Layout>
