---
import { SEO, type Props as SEOProps } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

import { reader } from "src/reader";

import "src/styles/index.css";

type Props = {
  seo?: SEOProps;
};

const site = await reader.singletons.site.read();

const siteTitle = site?.title;

const seo = {
  title: siteTitle,
  defaultTitle: siteTitle,
  titleTemplate: Astro.props.seo?.title ? `%s | ${siteTitle}` : undefined,
  charset: "UTF-8",
  ...Astro.props.seo,
  extend: {
    link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
    ...Astro.props.seo?.extend,
  },
};
---

<!doctype html>
<html lang="en" transition:animate="initial">
  <head>
    <ViewTransitions />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap"
      rel="stylesheet"
      type="text/css"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#cfbcdc" />

    <SEO {...seo} />

    <style>
      .font-ruda-400 {
        font-family: "Ruda", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body class="font-ruda-400 bg-[#f3f4f6] accent-indigo-600">
    <slot />
  </body>
</html>
