---
import { reader } from "src/reader";

type Props = {
  title?: string;
  description?: string;
};

const site = await reader.singletons.site.read();

const title = [Astro.props.title, site?.title].filter(Boolean).join(" | ");
const description = Astro.props.description || site?.description;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/styles.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="font-ruda-400">
    <slot />
  </body>
</html>
