---
import { reader } from "src/reader";

type Props = {
  title?: string;
};

const site = await reader.singletons.site.read();

const title = [Astro.props.title, site?.title].filter(Boolean).join(" | ");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={site?.description} />
  </head>
  <body>
    <slot />
  </body>
</html>
