---
import { type Props as SEOProps } from "astro-seo";

import Layout from "src/layouts/Layout.astro";

import { Footer } from "src/components/astro";
import { BackgroundBlobs, Navbar } from "src/components/react";

type Props = {
  seo?: SEOProps;
  displayNav?: boolean;
};

const { seo, displayNav = false } = Astro.props;
---

<Layout seo={seo}>
  <div class="relative w-full">
    {
      displayNav && (
        <div class="sticky top-0 z-20">
          <Navbar />
        </div>
      )
    }
    <main class="relative z-10 bg-gray-100 shadow-2xl shadow-slate-700/15">
      <BackgroundBlobs />
      <slot />
    </main>
    <Footer />
  </div>
</Layout>
