---
import { type Props as SEOProps } from "astro-seo";

import Layout from "src/layouts/Layout.astro";

import { Footer } from "src/components/astro";
import { BackgroundBlobs } from "src/components/react";

import { Navbar } from "src/components";

type Props = {
  seo?: SEOProps;
};

const { seo } = Astro.props;
---

<Layout seo={seo}>
  <div class="relative w-full">
    <!-- <Navbar /> -->
    <main class="relative z-10 bg-gray-100 shadow-2xl shadow-slate-700/15">
      <BackgroundBlobs />
      <slot />
    </main>
    <Footer />
  </div>
</Layout>
