---
import { type Props as SEOProps } from "astro-seo";

import Layout from "src/layouts/Layout.astro";

import { reader } from "src/reader";
import { Navbar, BackgroundBlobs, Footer } from "src/components";
import type { FooterMenu } from "src/components/Footer";

type Props = {
  seo?: SEOProps;
};

const site = await reader.singletons.site.read();
const menus = await reader.singletons.menus.read();

const { seo } = Astro.props;
---

<Layout seo={seo}>
  <div class="relative w-full">
    <Navbar />
    <main
      class="relative z-10 bg-gray-100 pt-24 shadow-2xl shadow-slate-700/15"
    >
      <BackgroundBlobs />
      <slot />
    </main>
    <Footer menu={menus?.footer as FooterMenu} {...site} />
  </div>
</Layout>
